<section>
	<!-- newsletter  -->
	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h2>NEWSLETTER</h2>
					<p>Signup our newsletter and get Latest updates!</p>
				</div>
				<div class="col-lg-5 align-self-center">
					<form>
						<div class="input-group  search-btn">
							<input type="text" class="form-control" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary " type="button">
									Subscribe
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-3 align-self-center social-media">
					<ul>
						<li>
							<a href="">
								<fa name="facebook"></fa>
							</a>
						</li>
						<li>
							<a href="">
								<fa name="twitter"></fa>
							</a>
						</li>
						<li>
							<a href="">
								<fa name="linkedin"></fa>
							</a>
						</li>
						<li>
							<a href="">
								<fa name="google-plus"></fa>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- newsletter -->
	<!-- main-footer -->
	<div class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
					<h2>INFORMATION</h2>
					<ul>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a routerLink="/deliveryAddress">Delivery Information</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms & Conditions</a>
						</li>
						<li>
							<a href="#">Returns</a>
						</li>
					</ul>
				</div>
				<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
					<h2>CUSTOMER SERVICE</h2>
					<ul>
						<li>
							<a href="#">Contact Us</a>
						</li>

						<li>
							<a routerLink="/myprofile">My Profile</a>
						</li>
						<li>
							<a href="#">Help & Support</a>
						</li>
						<li>
							<a href="#">Add ratings</a>
						</li>
						<li>
							<a href="#">FAQ</a>
						</li>
					</ul>
				</div>
				<div class="col-xl-4">
					<h2>AREAS WE SERVE</h2>
					<div class="places">
						<p>Mumbai,Delhi,Bangalore,Hyderabad,Ahmedabad,Chennai,Kolkata,Surat,Pune,Jaipur
							<a href="#">More..</a>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 payment-method">
					<ul>
						<li>
							<h5>PAYMENT OPTIONS :</h5>
						</li>
						<li>
							<img src="assets/images/paytm.png">
						</li>
						<li>
							<img src="assets/images/mobikwik.png">
						</li>
						<li>
							<img src="assets/images/freecharge.png">
						</li>
						<li>
							<img src="assets/images/cards.png">
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
	<!-- main footer -->
	<div class="bootom-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>Copyright &copy; 2018 Dhukan Grocery Store Pvt Ltd</p>
				</div>
			</div>
		</div>
	</div>
</section>