<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" *ngFor="let products of allFeatureProducts">
    <div class="product" (click)="ShowProductDetails()">
      <div class="container">
        <div class="row">
          <!-- like -->
          <div class="col-md-12 text-right">
            <a href="">
              <fa name="heart"></fa>
            </a>
          </div>
          <!-- like  -->
          <!-- product image -->
          <div class="col-md-12 text-center">
            <img src="assets/images/product.png" class="img-fluid">
          </div>
          <!-- product image -->
          <!-- product details -->
          <div class="col-md-12">
            <div class="product-names text-center">
              <ul>
                <li>
                  <form>
                    <div class="form-group">
                      <select class="form-control input-field" id="exampleFormControlSelect1">
                        <option>1 Kg</option>
                        <option>2 Kg</option>
                        <option>3 Kg</option>
                        <option>4 Kg</option>
                        <option>5 Kg</option>
                      </select>
                    </div>
                  </form>
                </li>
                <li>
                  <h3 class="text-center">{{products.title}}</h3>
                </li>
                <li>MRP :
                  <span class="price">RS.48 </span>
                  <span class="offer-price"> RS. 26</span>
                </li>
                <li>
                  <span class="text-danger">{{ "offer-price" | translate}}</span>
                </li>
                <li>
                  <ul class="rating">
                    <li>
                      <fa name="star"></fa>
                    </li>
                    <li>
                      <fa name="star"></fa>
                    </li>
                    <li>
                      <fa name="star"></fa>
                    </li>
                    <li>
                      <fa name="star"></fa>
                    </li>
                    <li>
                      <fa name="star-half"></fa>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- product details -->
          <div class="col-lg-12 col-md-12 col-sm-12 cart-btn">
            <div class="quantity">
              <button class="minus-btn" type="button" name="button" (click)="itemDecrease()">
                <i class="fa fa-minus " aria-hidden="true"></i>
              </button>
              <input type="text" name="quantity" [(ngModel)]="item.quantity" readonly="readonly" value="{{item.quantity}}" />
              <button class="plus-btn" type="button" name="button" (click)="itemIncrease()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button">
            <button class="btn category-btn" type="button" name="button">
              <span>Add</span>
              <img src="assets/images/online-shopping-cart.png">
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
