<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators circle-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <ol class="slider-selector ">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="bottom-indicators active"> Test content</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="bottom-indicators">Test content</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="bottom-indicators">Test content</li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let image of banners; let i = index" [ngClass]="{'active' : i == 0}">
      <img class="d-block w-100" [src]="imgUrl  + image.pic_web" alt="First slide">
      <div class="carousel-caption d-none d-md-block slider-text">
        <div class="shop-now-btn">
          <button class="btn button" type="submit">Shop now</button>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev slider-arrows-style" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon slider-arrow" aria-hidden="true">
      <fa name="angle-left"></fa>
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next slider-arrows-style" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon slider-arrow" aria-hidden="true">
      <fa name="angle-right"></fa>
    </span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- best deals -->
<div class="container-fluid products-list">
  <div class="row">
    <div class="col-lg-3 col-md-3 offer-image text-right">
      <img src="assets/images/offer-banner.jpg" class="img-fluid">
      <div class="view-all-button text-center">
        <a href="" class="offer-products">Veiw All</a>
      </div>

    </div>
    <div class="col-md-9">

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" *ngFor="let products of allProducts">
          <div class="product" (click)="ShowProductDetails()">
            <div class="container">
              <div class="row">
                <!-- like -->
                <div class="col-md-12 text-right">
                  <a href="">
                    <fa name="heart"></fa>
                  </a>
                </div>
                <!-- like  -->
                <!-- product image -->
                <div class="col-md-12 text-center">
                  <img src="assets/images/product.png" class="img-fluid">
                </div>
                <!-- product image -->
                <!-- product details -->
                <div class="col-md-12">
                  <div class="product-names text-center">
                    <ul>
                      <li>
                        <form>
                          <div class="form-group">
                            <select class="form-control input-field" id="exampleFormControlSelect1">
                              <option>1 Kg</option>
                              <option>2 Kg</option>
                              <option>3 Kg</option>
                              <option>4 Kg</option>
                              <option>5 Kg</option>
                            </select>
                          </div>
                        </form>
                      </li>
                      <li>
                        <h3 class="text-center">{{products.title}}</h3>
                      </li>
                      <li>MRP :
                        <span class="price">RS.48 </span>
                        <span class="offer-price"> RS. 26</span>
                      </li>
                      <li>
                        <span class="text-danger">{{ "offer-price" | translate}}</span>
                      </li>
                      <li>
                        <ul class="rating">
                          <li>
                            <fa name="star"></fa>
                          </li>
                          <li>
                            <fa name="star"></fa>
                          </li>
                          <li>
                            <fa name="star"></fa>
                          </li>
                          <li>
                            <fa name="star"></fa>
                          </li>
                          <li>
                            <fa name="star-half"></fa>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- product details -->
                <div class="col-lg-12 col-md-12 col-sm-12 cart-btn">
                  <div class="quantity">
                    <button class="minus-btn" type="button" name="button" (click)="itemDecrease()">
                      <i class="fa fa-minus " aria-hidden="true"></i>
                    </button>
                    <input type="text" name="quantity" [(ngModel)]="item.quantity" readonly="readonly" value="{{item.quantity}}" />
                    <button class="plus-btn" type="button" name="button" (click)="itemIncrease()">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button">
                  <button class="btn category-btn" type="button" name="button">
                    <span>Add</span>
                    <img src="assets/images/online-shopping-cart.png">
                  </button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


      <!-- <app-product></app-product> -->
    </div>

  </div>
</div>
<!-- best deals -->
<!-- offer banner -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <img src="assets/images/banner-1.jpg" alt="banner1" class="img-fluid w-100 offer-banner-view" *ngIf="bannerImageOne">
      <img src="assets/images/slider-image.jpg" alt="banner2" class="img-fluid w-100 offer-banner-view" *ngIf="bannerImageTwo">
      <img src="assets/images/banner-1.jpg" alt="banner3" class="img-fluid w-100 offer-banner-view" *ngIf="bannerImageThree">
    </div>
    <div class="col-lg-3">
      <img src="assets/images/banner-1.jpg" alt="banner1" class="img-fluid selected-banner" (click)="bannerImageOneOffer()"
        [ngClass]="{'active-banner':bannerImageOne}">
      <img src="assets/images/slider-image.jpg" alt="banner2" class="img-fluid selected-banner " (click)="bannerImageTwoOffer()"
        [ngClass]="{'active-banner':bannerImageTwo}">
      <img src="assets/images/banner-1.jpg" alt="banner3" class="img-fluid selected-banner" (click)="bannerImageThreeOffer()"
        [ngClass]="{'active-banner':bannerImageThree}">
    </div>
  </div>
</div>
<!-- offer banner -->
<!-- deal of the day -->
<carousel>
  <slide>
    <div class="container">
      <app-product></app-product>
    </div>
  </slide>
</carousel><br />

<!-- deal of the day -->
<!-- discount-banner -->
<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/discount-banner-1.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/discount-banner-1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/discount-banner-1.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev slider-arrows-style" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon slider-arrow arrow-left" aria-hidden="true">
        <fa name="angle-left"></fa>
      </span>
    </a>
    <a class="carousel-control-next slider-arrows-style" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon slider-arrow arrow-right" aria-hidden="true">
        <fa name="angle-right"></fa>
      </span>
    </a>
  </div>
</div>

<!-- discount-banner -->
<!-- deal of the day -->

<carousel>
  <slide>
    <div class="container">
      <app-product></app-product>
    </div>
  </slide>
</carousel>

<!-- deal of the day -->
<!-- best in appliances -->
<div class="container best-deal">
  <h2>BEST IN APPLIANCES</h2>
  <hr>
  <div class="row best-offer">
    <div class="col-lg-6">
      <img src="assets/images/offer-category.jpg" class="img-fluid">
    </div>
    <div class="col-lg-6">
      <div class="row best-offer">
        <div class="col-lg-6">
          <img src="assets/images/offer-category-1.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <img src="assets/images/offer-category-2.jpg" class="img-fluid">
        </div>
      </div>
      <div class="row best-offer">
        <div class="col-lg-6">
          <img src="assets/images/offer-category-3.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <img src="assets/images/offer-category-4.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <img src="assets/images/offer-category-6.jpg" class="img-fluid">
    </div>
    <div class="col-lg-3">
      <img src="assets/images/offer-category-7.jpg" class="img-fluid">
    </div>
    <div class="col-lg-3">
      <img src="assets/images/offer-category-8.jpg" class="img-fluid">
    </div>
    <div class="col-lg-3">
      <img src="assets/images/offer-category-9.jpg" class="img-fluid">
    </div>
  </div>
</div>
<!-- best in appliances -->
<!-- best in appliances -->
<div class="container best-deal">
  <h2>BEST DISCOUNT APPLIANCES</h2>
  <hr>

  <div class="row best-offer">
    <div class="col-lg-6">
      <img src="assets/images/offer-banner-5.jpg" class="img-fluid">
    </div>
    <div class="col-lg-6 ">
      <div class="row best-offer">
        <div class="col-lg-6">
          <img src="assets/images/offer-category-1.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <img src="assets/images/offer-category-2.jpg" class="img-fluid">
        </div>
      </div>
      <div class="row best-offer">
        <div class="col-lg-6">
          <img src="assets/images/offer-category-3.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <img src="assets/images/offer-category-4.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <img src="assets/images/offer-category-6.jpg" class="img-fluid">
    </div>
    <div class="col-lg-3">
      <img src="assets/images/offer-category-7.jpg" class="img-fluid">
    </div>
    <div class="col-lg-3">
      <img src="assets/images/offer-category-8.jpg" class="img-fluid">
    </div>
    <div class="col-lg-3">
      <img src="assets/images/offer-category-9.jpg" class="img-fluid">
    </div>
  </div>
</div>

<!-- best in appliances -->






<angular-image-slider [images]="allProductsData"></angular-image-slider>






<!-- deal of the day -->
<section class="carousel3 slide" data-ride="carousel" id="postsCarousel">
  <div class="container">
    <div class="row">
      <div class="col-12 text-md-right lead">
        <a class="btn btn-secondary-outline prev" href="#carouselExampleControls3" title="go back">
          <i class="fa fa-lg fa-chevron-left"></i>
        </a>
        <a class="btn btn-secondary-outline next" href="#carouselExampleControls3" title="more">
          <i class="fa fa-lg fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="container pt-0 mt-2">
    <div class="carousel-inner carousel-inner1 row w-100 mx-auto" id="carouselExampleControls2">
      <div class="carousel-item col-md-3" *ngFor="let products of allProductsData;let i = index" [ngClass]="{'active' : i == 0}">
        <div class="card-deck">
          <div class="card h-100">
            <div class="card-body pt-2">
              <div class="product" (click)="ShowProductDetails()">
                <div class="container">
                  <div class="row">
                    <!-- like -->

                    <div class="col-md-12 text-right">
                      <a href="">
                        <fa name="heart"></fa>
                      </a>
                    </div>
                    <!-- like  -->
                    <!-- product image -->
                    <div class="col-md-12 text-center">
                      <img src="assets/images/product.png" class="img-fluid">
                    </div>
                    <!-- product image -->
                    <!-- product details -->
                    <div class="col-md-12">
                      <div class="product-names text-center">
                        <ul>
                          <li>
                            <form>
                              <div class="form-group">
                                <select class="form-control input-field" id="exampleFormControlSelect1">
                                  <option>1 Kg</option>
                                  <option>2 Kg</option>
                                  <option>3 Kg</option>
                                  <option>4 Kg</option>
                                  <option>5 Kg</option>
                                </select>
                              </div>
                            </form>
                          </li>
                          <li>
                            <h3 class="text-center">{{products.title}}</h3>
                          </li>
                          <li>MRP :
                            <span class="price">RS.48 </span>
                            <span class="offer-price"> RS. 26</span>
                          </li>
                          <li>
                            <span class="text-danger">{{ "offer-price" | translate}}</span>
                          </li>
                          <li>
                            <ul class="rating">
                              <li>
                                <fa name="star"></fa>
                              </li>
                              <li>
                                <fa name="star"></fa>
                              </li>
                              <li>
                                <fa name="star"></fa>
                              </li>
                              <li>
                                <fa name="star"></fa>
                              </li>
                              <li>
                                <fa name="star-half"></fa>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- product details -->
                    <div class="col-lg-12 col-md-12 col-sm-12 cart-btn">
                      <div class="quantity">
                        <button class="minus-btn" type="button" name="button" (click)="itemDecrease()">
                          <i class="fa fa-minus " aria-hidden="true"></i>
                        </button>
                        <input type="text" name="quantity" [(ngModel)]="item.quantity" readonly="readonly" value="{{item.quantity}}" />
                        <button class="plus-btn" type="button" name="button" (click)="itemIncrease()">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button">
                      <button class="btn category-btn" type="button" name="button">
                        <span>Add</span>
                        <img src="assets/images/online-shopping-cart.png">
                      </button>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- deal of the day -->
<carousel>
  <slide>
    <div class="container">
      <app-product></app-product>
    </div>
  </slide>
</carousel><br />
<div class="container best-deal">
  <h2>POPULAR BRANDS</h2>
  <hr>
  <div class="row">
    <div class="col-lg-2 img-border">
      <img src="assets/images/brand-1.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2 img-border">
      <img src="assets/images/brand-2.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2 img-border">
      <img src="assets/images/brand-3.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2 img-border">
      <img src="assets/images/brand-4.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2 img-border">
      <img src="assets/images/brand-5.jpg" class="img-fluid">
    </div>
    <div class="col-lg-2 img-border">
      <img src="assets/images/brand-6.jpg" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid mobile-application">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-center">
        <img src="assets/images/application-image.png">
      </div>
      <div class="col-lg-7 app-stores">
        <h2>THE DHUKAN Food Grocery Store</h2>
        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
        <h6>Lorem Ipsum is simply dummy text.</h6>
        <ul>
          <li>
            <a href="#">
              <img src="assets/images/app-store.png">
            </a>

          </li>
          <li>
            <a href="#">
              <img src="assets/images/playstore.png">
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
